<body class="cool-background">
   <h1>Home Page</h1>
   <a href="javascript:" id="hide_this" class="error" onClick="hideWhenClicked()">Click To Hide Me</a>

   <%= javascript_include_tag 'application' %>
</body>